# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/

# Foundry files
out/
solidity-files-cache.json
.gas-snapshot
broadcast/

# Workspace
.vscode/
scratch/

# Gas reports
*.report

lib/